<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Youtube Search</title>
<link rel="stylesheet" href="static/styles/style.css" type="text/css">
    <link rel="stylesheet" href="static/styles/bootmin.css" type="text/css">

    <style>
        .collapsible {
    background-color: #A9A9A9;
    border-color: #2f435e;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

        .image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #2f435e;
}

        .image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

        .wrapper {
  display: grid;

}
        .wrapper > div {
    border: 2px solid #34495E;
    border-radius: 5px;
    color: #fff;
    background-color: #34495E;
}
        </style>

</head>
<body>
<script >
    function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status === 'connected') {
      testAPI();
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }


  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  function logout(){
      console.log("here")
      FB.logout(function(response) {
   // Person is now logged out
});
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1181204532036224',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });


    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me','GET', {fields: 'name,id,picture.width(90).height(90)'}, function(response) {
        console.log(response)
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Logged in as ' + response.name;
      document.getElementById('profilepic').innerHTML = "<img src='" + response.picture.data.url + "'>";
    });
  };
</script>
<div class="head">
<div class="navbar">
    <a class="active" href="/home">Home</a>
    <a href="/youtube">Youtube</a>
    <a href="/musix">MusixMatch</a>
    <a href="/home">Trends</a>

</div>
    </div>
</div>
    <div class="head" style="margin-top: 5px;
    height: 128px;">
        <div class="image-cropper">
        <div id="profilepic" class="rounded"></div></div>
            <div id="status"></div>
        {%if sig=="Valid"%}
            <div >Logged in as {{first}} {{last}}</div>

        {%endif%}

    </div>

  <div class="leftcol">
  <div class="login-html" style="top: 30%; left: 27.5%; position: fixed; overflow: scroll">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Search for Videos</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Suggested Videos</label>
    <div class="login-form">
      <form class="sign-in-htm" action="#" id="searchform">
        <div class="group">
            <p><input type="text" id="search" placeholder="Mozart" autocomplete="off" class="input" /></p>
            <p><input type="submit" value="Search" class="button"></p>
        </div><div class="group" id="results"></div>
      </form>
      <form class="sign-up-htm" action="#" id="suggestform">
        <div class="group">

            <p><input type="text" id="suggest" placeholder="Mozart" autocomplete="off" class="input" /></p>
            <p><input type="submit" value="Suggest" class="button"></p>
        </div><div class="group" id="suggestions"></div>
      </form>
    </div>


  </div>
  </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script >

    function tplawesome(e,t){res=e;for(var n=0;n<t.length;n++){res=res.replace(/\{\{(.*?)\}\}/g,function(e,r){return t[n][r]})}return res}


$(function() {
    $("#searchform").on("submit", function(e) {
       e.preventDefault();
       var request = gapi.client.youtube.search.list({
            part: "snippet",
            type: "video",
            q: $("#search").val(),
            maxResults: 10,
            order: "relevance",
       });
       request.execute(function(response) {
          var results = response.result;
          $("#results").html("");
          $.each(results.items, function(index, item) {
              $.get("/display", function(data) {
                $("#results").append(tplawesome(data, [{"title":item.snippet.title, "videoid":item.id.videoId}]));
                // document.getElementById("results").innerHTML
            });
          });
       });
    });

});

title="rand";
videoid="rand";

$(function() {

    $("#suggestform").on("submit", function(e) {

       e.preventDefault();
       var request = gapi.client.youtube.search.list({
            part: "snippet",
            type: "video",
            q: encodeURIComponent($("#suggest").val()).replace(/%20/g, "+"),
            maxResults: 10,
            order: "relevance",
       });
       request.execute(function(response) {
          var results = response.result;
          $("#results").html("");
          $.each(results.items, function(index, item) {
              console.log(index,item.snippet.title)
              if (index==0){
                  title=item.snippet.title;
                  videoid=item.id.videoId;
                  console.log(title)
                  rec(title,videoid)
              }

            });
          });
        function rec(title,videoid)
        {
            // console.log(videoid)
            var request1 = gapi.client.youtube.search.list({
            part: "snippet",
            type: "video",
            maxResults: 10,
           relatedToVideoId:videoid,
            order: "relevance",
       });
            request1.execute(function(response) {
          var results1 = response.result;
          $("#suggestions").html("");
          $.each(results1.items, function(index, item) {
              $.get("/display", function(data) {
                $("#suggestions").append(tplawesome(data, [{"title":item.snippet.title, "videoid":item.id.videoId}]));
          });
       });

       });

        }



    });

});


function init() {
    gapi.client.setApiKey("AIzaSyAnDQyGzU6KSIlio7MoqjK8sg_zNGcB4gg");
    gapi.client.load("youtube", "v3", function() {
    });
}
</script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>
</html>